/* ------------------------------------------ */
/* FINAL BLOCK
/* ------------------------------------------ */
.final {
    text-align: center;

    &__heading {

    }

    &__subheading {

    }

    &__image {
        max-width: 27rem;
        margin: 0 auto;
    }

    @media (min-width: $large-up) {

    }
}