/* ------------------------------------------ */
/* FINAL BLOCK
/* ------------------------------------------ */
.final {
    @include headings;

    position: relative;
    z-index: 3;

    &__image {
        max-width: 27rem;
        margin: 0 auto;
    }
}