/* ------------------------------------------ */
/* FINAL BLOCK
/* ------------------------------------------ */
.final {
    @include headings;

    position: relative;
    z-index: 3;

    &__subheading {
        max-width: 56rem;
        margin: 2rem auto 7rem;

        font-size: $font-size--1;
        font-weight: $light-font-weight;
    }

    &__image {
        max-width: 27rem;
        margin: 0 auto;
    }

    @media (min-width: $large-up) {
        font-size: 2.2rem;
    }
}