/* ------------------------------------------ */
/* FORM BLOCK
/* ------------------------------------------ */
.form {
    position: relative;
    z-index: 3;

    @include headings;

    form {
        display: flex;
        flex-direction: column;

        max-width: 60rem;
        margin: 0 auto;
        padding-top: 6rem;
    }

    label {
        position: relative;

        display: flex;
        flex-direction: column;

        margin-bottom: 2rem;

        font-size: 2.2rem;
        font-weight: $bold-font-weight;
        line-height: 1;

        align-items: center;

        span {
            margin-bottom: 1rem;

            text-align: right;
        }
    }

    input {
        box-sizing: border-box;
        width: 100%;
        max-width: 38rem;
        height: 6.5rem;
        padding: 1.7rem 2rem;

        border: 0;
        box-shadow: 0;

        font-family: $base-font-family;
        font-size: 4rem;
        font-weight: $light-font-weight;
    }

    &__checkbox {
        input {
            display: inline-block;

            width: auto;
            height: auto;
            margin: 0 0.5rem 0 0;
            padding: 0;

            vertical-align: middle;
        }

        label {
            display: inline-block;

            margin: 0;

            transform: none;
            vertical-align: middle;

            font-weight: $regular-font-weight;
        }

        a {
            color: $color-primary-text-dark;

            font-weight: $bold-font-weight;
        }
    }

    &__buttons {
        display: flex;

        margin-top: 7rem;

        justify-content: center;
    }

    &__button {
        margin: 0 1.5rem;

        border: 0;
        background: transparent;
        box-shadow: none;
    }

    &__submit {
        max-width: 8.5rem;
        height: auto;
    }

    @media (min-width: $large-up) {
        label {
            flex-direction: row;

            margin-bottom: 2.5rem;

            transform: translateX(-3rem);

            align-items: center;

            span {
                width: 14rem;
                margin-bottom: 0;
                padding-right: 3rem;
            }
        }

        &__checkbox {
            label {
                display: inline-block;

                margin: 0;

                transform: none;
                vertical-align: middle;
            }
        }
    }
}

.validetta-bubble {
    position: absolute;
    z-index: 9;;

    max-width: 325px;
    padding: 5px 12px;

    color: #ffffff;
    border-radius: 5px;
    background-color: #cd2e26;
}

.validetta-bubble:before {
    position: absolute;

    display: block;

    width: 0;
    height: 0;

    content: '';

    border-width: 5px;
    border-style: solid;
}

.validetta-bubble--right:before {
    top: 7px;
    left: -10px;

    border-color: transparent #cd2e26 transparent transparent;
}

.validetta-bubble--bottom:before {
    top: -10px;
    left: 10px;

    border-color: transparent transparent #cd2e26;
}

.validetta-bubble,
.validetta-inline {
    display: block;

    font: 12px/14px Arial, Helvetica, sans-serif;
}

.validetta-inline {
    color: #cd2e26;
}