/* ------------------------------------------ */
/* INTRO BLOCK
/* ------------------------------------------ */
.intro {
    @include wrapper;
    @include headings;

    background: $color-accent url("../img/bg.png") no-repeat center bottom;
    background-size: contain;

    &__presents {
        max-width: 73rem;
        margin: 0 auto;
        padding: 2rem;
    }
}