/* ------------------------------------------ */
/* MODAL BLOCK
/* ------------------------------------------ */
.modal {
    @include wrapper;

    position: absolute;
    top: 0;
    width: 100%;
    background: $color-accent url("../img/bg_blur.png") no-repeat center center;
    height: 100%;
}