/* ------------------------------------------ */
/* MODAL BLOCK
/* ------------------------------------------ */
.modal {
    @include wrapper;
    @include headings;

    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    justify-content: flex-start;

    &__close {
        position: relative;
        z-index: 3;
        margin-bottom: 7rem;
        display: inline-block;

        font-size: $font-size--1;
        text-transform: uppercase;
        font-weight: $regular-font-weight;
        color: $color-primary-text-dark;
        border-bottom: 0.1rem solid $color-primary-text-dark;

        &:hover {
            border: 0;
        }
    }

    &::after {
        top: 0;
        width: 100%;
        height: 100%;
        content: "";
        background: $color-accent url("../img/bg.png") no-repeat center bottom;
        background-size: contain;
        filter: blur(1rem);
        opacity: 0.95;
        position: absolute;
    }
}