/* ------------------------------------------ */
/* SLIDER BLOCK
/* ------------------------------------------ */
.slider {
    @include headings;

    overflow: hidden;
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 3rem 0;
    z-index: 2;

    &__slides {
        position: relative;
        left: 0;
        top: 0;
        list-style: none;
        margin: 0;
        display: flex;
        padding: 0;
    }

    &__slide {
        min-width: 100%;
        padding: 0 0.25rem;
    }

    &__title {
        font-weight: $bold-font-weight;
        font-size: $font-size-01;
    }

    &__buttons {
    }

    &__button {
        position: absolute;
        z-index: 3;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 4rem;

        &:last-child {
            right: 0;

            img {
                transform: rotate(180deg);
            }
        }

        img {
            width: 4rem;
        }
    }

    &__link {
        display: none;
        padding: 5rem 0 0;

        a {
            font-weight: $bold-font-weight;
            font-size: $font-size-01;
            color: $color-primary-text-dark;
            border: 0.1rem solid $color-primary-text-dark;
            border-radius: 0.5rem;
            text-transform: uppercase;
            padding: 1.5rem 2rem;
        }
    }

    &.is-modal {
        width: calc(100% / 3);

        .slider__slide {
            min-width: 100%;
        }

        .slider__link {
            display: block;
        }
    }

    @media (min-width: $large-up) {
        padding: 6rem 0;

        &__slide {
            min-width: calc(100% / 3);
            padding: 1.5rem;
        }
    }
}
