/* ------------------------------------------ */
/* SLIDER BLOCK
/* ------------------------------------------ */
.slider {
    @include headings;

    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 3rem 0;
    z-index: 0;

    &__wrapper {
        overflow: hidden;

        width: 90%;
        margin: 0 auto;
    }

    &__slides {
        position: relative;
        left: 0;
        top: 0;
        list-style: none;
        margin: 0;
        display: flex;
        padding: 0;
    }

    &__slide {
        min-width: 100%;
        padding: 0 0.25rem;
    }

    &__title {
        font-weight: $bold-font-weight;
        font-size: $font-size-01;
    }

    &__button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -1.5rem;
        width: 2rem;

        &:nth-child(2) {
            right: -1.5rem;
            left: auto;
            transform: rotate(180deg) translateY(50%);
        }

        img {
            width: 4rem;
        }
    }

    &__link {
        display: none;
        padding: 5rem 0 0;

        a {
            white-space: nowrap;
            font-weight: $bold-font-weight;
            font-size: $font-size--1;
            color: $color-primary-text-dark;
            border: 0.1rem solid $color-primary-text-dark;
            border-radius: 0.5rem;
            text-transform: uppercase;
            padding: 1.5rem 2rem;
        }
    }

    &.is-modal {
        z-index: 2;

        .slider__slides {
            //transform: translateX(calc(100% / 3));
        }

        .slider__slide {
            min-width: 100%;
            flex-direction: column-reverse;
            display: flex;
        }

        .slider__title {
            margin-bottom: 5rem;

            font-size: 2.5rem;
            line-height: 1.2;
            font-weight: $light-font-weight;
        }

        .slider__link {
            display: block;
        }
    }

    @media (min-width: $large-up) {
        padding: 6rem 0;

        &__wrapper {
            width: 100%;
        }

        &__slide {
            min-width: calc(100% / 3);
            padding: 1.5rem;
        }

        &__link {
            a {
                font-size: $font-size-01;
            }
        }

        .slider__button {
            left: -4rem;
            width: 4rem;

            &:nth-child(2) {
                right: -4rem;
                left: auto;
            }
        }

        &.is-modal {
            transform: translateY(-12rem);

            &:not(:first-child) {
                .active {
                    visibility: hidden;

                    & + .active {
                        visibility: visible;

                        & + .active {
                            visibility: hidden;
                        }
                    }
                }
            }

            .owl-carousel {
                .owl-stage {
                    transition: none !important;
                }
            }

            .slider__title {
                font-size: 4rem;
            }

            .slider__button {
                z-index: 3;
                left: 0;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 38.5rem;

                &:nth-child(2) {
                    left: auto;
                    right: 0;
                }
            }
        }
    }
}
