/* ------------------------------------------ */
/* SLIDER BLOCK
/* ------------------------------------------ */
.slider {
    @include headings;

    padding: 2rem 0;
    position: relative;

    &__wrapper {
        position: relative;

        display: flex;

        box-sizing: border-box;
        max-width: 96rem;
        margin: 0 auto;

        justify-content: flex-end;
    }

    &__description {
        flex-direction: column;
        margin-top: 1rem;
        display: none;

        padding: 2rem 3rem;

        align-items: center;
        justify-content: space-between;

        background: $color-accent url("../img/slider-background.png") no-repeat center center;
        background-size: cover;
    }

    &__description-text {
        width: 100%;
        margin-bottom: 2rem;

        h2 {
            margin-bottom: 2.5rem;

            text-transform: uppercase;

            color: $color-primary-text-light;

            font-size: 2.5rem;
            font-weight: $bold-font-weight;
            line-height: 1;
        }

        p {
            color: $color-primary-text-light;

            font-size: 2.4rem;
            font-weight: $light-font-weight;
            line-height: 2.6rem;
        }
    }

    &__slides {
        display: flex;
        flex-direction: row;

        flex-wrap: wrap;
    }

    &__slide {
        width: 25%;
        padding: 0.5rem;

        font-size: 0;
        line-height: 0;

        &--active {
            width: 100%;
            order: -1;

            .slider__description {
                display: flex;
            }
        }
    }

    &__button {
        display: none;
        position: absolute;
        z-index: 2;
        top: 50%;

        width: 6rem;
        height: 6rem;

        transform: translateY(-50%);

        &--left {
            left: 0;
        }

        &--right {
            right: 0;

            transform: translateY(-50%) rotate(180deg);
        }
    }

    &__description-links {
        display: flex;
    }

    &__description-link {
        width: 7.5rem;
        height: 7.5rem;

        &:last-child {
            margin-left: 1.5rem;
        }
    }

    @media (min-width: $large-up) {
        padding: 9rem 0;
        min-height: 78rem;

        &__slides {
            width: 50%;
        }

        &__slide {
            width: 50%;

            &--active {
                position: absolute;
                left: 0;

                width: 50%;
            }
        }

        &__description {
            flex-direction: row;
            margin-top: 0;
            position: absolute;
            top: 100%;
            width: calc(200% - 1rem);
        }

        &__description-text {
            max-width: 75%;
            margin-bottom: 0;
        }

        &__button {
            display: block;
        }
    }
}