// ------------------------------------------ //
// MIXINS
// ------------------------------------------ //
@mixin wrapper {
    position: relative;

    display: flex;
    flex-direction: column;

    align-items: center;
    align-content: center;
    justify-content: center;

    &__wrapper {
        position: relative;

        width: 100%;
        margin: 0 auto;
        padding: 6rem 2.5rem;

        @media (min-width: $large-up) {
            width: $screen-large-min;
        }
    }
}

@mixin headings {
    &__heading {
        width: 100%;

        color: $color-accent;

        font-size: $font-size-03;
        line-height: 1;

        @media (min-width: $large-up) {
            font-size: 7.4rem;
            line-height: 7rem;
        }
    }

    &__subheading {
        font-size: $font-size-02;
        line-height: 1;

        @media (min-width: $large-up) {
            font-size: 4rem;
            line-height: 7rem;
        }
    }
}